@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: url(images/wood-background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#phone {
    height: 627px;
    width: 311px;
    position: relative;
    background: url(images/iphone-frame.png) no-repeat center center;
    background-size: cover;
}

#screen {
    width: 100%;
    height: 100%;
    border: none;
    overflow-y: scroll;
}

#socialMedia {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 10px;
}

#socialMedia a {
    display: block;
    padding: 15px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    background-color: #7289da;
    margin-bottom: 10px;
    border-radius: 50%;
}

#socialMedia img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, border 0.3s;
}

#socialMedia img:hover {
    transform: translate(-2px, -2px);
    border: 2px solid rgba(255, 255, 255, 0.638);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.633);
}